/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal */
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 60%;
    height: 70%;
    z-index: 1100;
  }
  
  
  /* Modal Buttons */
  .modal-buttons {
    margin-top: 40px;
  }
  
  .modal-buttons button {
    font-size: 14px;
    margin-right: 10px;
  }

  .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    flex: 1;
    max-width: 50%; /* Atur lebar maksimum gambar */
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    flex: 1;
    text-align: center; /* Teks berada di tengah */
  }
  