/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal */
  .modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 60%;
    height: 58%;
    z-index: 1100;
  }

  .modal-container {
    /* existing styles */
    transform: scale(0.8); /* start smaller */
    opacity: 0; /* start invisible */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* animate transform and opacity */
    }
    
    .modal-container.show {
      transform: scale(1); /* end at normal size */
      opacity: 1; /* end fully visible */
      padding-left: 20px;
  }
  
  
  /* Modal Buttons */
  .modal-buttons {
    margin-top: 40px;
  }
  
  .modal-buttons button {
    font-size: 14px;
    margin-right: 10px;
  }

  .product-details {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
  
  .product-image {
    flex: 1;
    max-width: 250px;
    max-height: 250px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  

  .close-btn {
    position: absolute;
    right: 18px;
    top: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

  .product-info {
    max-width: 500px; /* Adjust this value as needed */
    overflow: auto;
  }
  